body > header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  height: 400px;
  margin-top: 110px;
  background-color: #a5d5fa;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");

}

header > div > h2 {
  margin-top: 0px;
}


@media (min-width: 1024px) {
   body > header {
    flex-direction: column;
    width: 33%;
    margin: 145px 5.5rem;
  }
}