
.new-tweet {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: #f4f1ec;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  }

.new-tweet-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:0px;
  border-bottom: 2px solid #5f5c53;
  font-weight: 600;
  background: transparent;
}

.new-tweet-bottom {
  display: flex;
  justify-content:space-between;
  width: 90%;
  margin-top: 1.5px;
}

.red-text {
  color:red;  
}




